.rec.rec-arrow {
  border-radius: 50;
  background: #333;
  color: #00ff00;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
  background: #333;
  color: #00ff00;
}
.rec.rec-arrow::selection,
::after {
  background: #333;
  color: #00ff00;
}

.rec.rec-arrow::shadow {
  visibility: visible;
}
.rec.rec-dot {
  background: #ffffff;
  border: 2px #333;
  border-radius: 180;
}
.rec.rec-dot_active {
  border: #333;
  background: #00ff00;
}
